# =============================================================
# Universal / Shared
# =============================================================
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION_NAME=us-east-2

SECRET_KEY=your_secret_key

# =============================================================
# story-generator
# =============================================================
STORY_GENERATOR_SQLITE_FILE_NAME=story_generator.db

# =============================================================
# quiz-generator
# =============================================================
QUIZ_GENERATOR_SQLITE_FILE_NAME=quiz_generator.db

# =============================================================
# simple-summaries-recommendation
# =============================================================
DOMAIN_URL=your_domain_url
TOKEN_AUTHORIZATION=your_token_authorization
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENVIRONMENT=your_pinecone_environment
